ul {
  background-color: brown;
}
.login {
  width: 80%;
  height: 80%;
  margin: auto;
  font-size: large;
  display: flex;
  min-height: fit-content;
  max-height: 100%;
  flex-direction: column;
  background-color: navy;
  align-items: center;
  font-family: vazir;
  color: whitesmoke;
  border-radius: 20px;
  .span-group {
    display: flex;
    margin: 15px;
    color: whitesmoke;
    a {
      color: whitesmoke
      
    }
    button{
      background-color: navy;
      border: none;
      color: whitesmoke;
      font-size: large;
    }
  }
  h1 {
    animation: glowText 5s infinite;
  }
}
.login .input-group {
  position: relative;
  width: 200px;
  height: 30px;
  margin: 15px;
  border-color: blue;
  border-radius: 10px;
 input {
  width: 100%;
  height: 100%;
  outline: none;
  border-color: blue;
  border-radius: 10px;
}
label {
  position: absolute;
  top: 5px;
  right: 5px;
  color:black;
  border-color: blue;
  border-radius: 10px;
}
}

.login input:focus ~ label,input:not(:placeholder-shown) ~ label {
  font-size: 0.95rem;
  translate: -5px -26px;
  transition-duration: 0.3s;
  color: gold;
}

.login .button-group {
  width: 200px;
  height: 30px;
  margin: 15px;
  text-align: center;
  font-size: 0.95rem;

  button {
  width: 100%;
  height: 100%;
  background-color: whitesmoke;
  font-size: large;
  color: navy;
  border: none;
  border-radius: 20px;
  outline: none;
} 
}
button:hover {
cursor: pointer;
}

[popover] {
  min-width: 200px;
  min-height: 250px;
  inset: 0;

  margin: auto;
  background: #5e0502;
  padding: 40px;
  border: none;
  border-radius: 15px;
  z-index:1;
  gap: 50px;
  button {
    padding: 5px;
    color: brown;
    font-size: large;
    background-color: rgb(6, 240, 6);
    border: none;
    border-radius: 10px;
  }
  #close-button {
    position: absolute;
    width: 25px;
    height: 25px;
    top: 20px;
    right: 20px;
  }
  input {
    min-width: 80%;
    min-height: 25px;
    max-height: 25px;
    border: none;
    text-align: center;
  }
}

[popover]:popover-open {
  position: fixed;
  display: flex;
  
  div{
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items:end
}
  
[popover]::backdrop {
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(3px);
}

@keyframes glowText {
  0% {
    text-shadow: 0px 10px 5px 0px #9c0909;
  }
  100% {
    text-shadow: 0px 20px 30px 1px #ddec04;
  }
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 1.2em;
  }
  .input-group {
    min-width: 50%;
    max-width: 75%;
  }
  .button-group {
    min-width: 50%;
    max-width: 50%;
  }
}
