.register {
  width: 80%;
  height: 80%;
  margin: auto;
  font-size: large;
  display: flex;
  min-height: fit-content;
  max-height: 100%;
  flex-direction: column;
  background-color: navy;
  align-items: center;
  font-family: vazir;
  color: white;
  border-radius: 20px;
  .span-group {
    display: flex;
    margin: 15px;
    a {
      color: whitesmoke
      
    }
  }
}
.register .input-group {
  position: relative;
  width: 200px;
  height: 30px;
  margin: 15px;
  border-color: blue;
  border-radius: 10px;

  input {
    width: 100%;
    height: 100%;

    outline: none;
    border-color: blue;
    border-radius: 10px;
  }

  label {
    position: absolute;
    top: 5px;
    right: 5px;
    border-color: blue;
    border-radius: 10px;
    color: black;
  }
}

.register input:focus ~ label,
input:not(:placeholder-shown) ~ label {
  font-size: 0.95rem;
  translate: -5px -26px;
  transition-duration: 0.3s;
  color: gold;
}

.register .button-group {
  width: 200px;
  height: 30px;
  margin: 15px;
  text-align: center;
  font-size: 0.95rem;

  button {
    width: 100%;
    height: 100%;
    background-color: rgb(16, 241, 46);
    font-size: large;
    background-color: whitesmoke;
    color: navy;
    border: none;
    border-radius: 20px;
    outline: none;
  }
}
